<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ethen.app.mapper.BasicInfoMapper">

    <select id="listProvinces" resultType="com.ethen.common.domain.ProvinceVO">
        SELECT
            `id`,
            `provinceid` "provinceId",
            `province`   "provinceName"
        FROM provinces
    </select>
</mapper>